<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Room</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/logo_favicon/logo-chat.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css">
    <link rel="stylesheet" href="bower_components/emojionearea/dist/emojionearea.min.css">
    <link rel="stylesheet" href="bower_components/photoset-grid/css/colorbox.css">
    <link rel="stylesheet" href="emojione/extras/css/emojione.min.css">
    <link rel="stylesheet" href="emojione/extras/css/emojione-awesome.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body onload="spinLoaded()">
    <!--css main loader-->
    <!-- <div class="master-loading-style"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->

    <input type="hidden" id="ice-server-list" value="<%= iceServerList %>">
    
    <%- include("alert/alert"); %>

    <%- include("navbar/navbar"); %>
    
    
    <!-- content -->
    <%- content %>

    <!--Libraries-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="bower_components/emojionearea/dist/emojionearea.min.js"></script>
    <script src="bower_components/peerjs/peer.min.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="emojione/lib/js/emojione.min.js"></script>

    <!-- My js-->
    <script src="js/mainConfig.js"></script>
    <script src="js/updateUser.js"></script>

    <script src="js/calculateNotifiContact.js"></script>
    <script src="js/calculateNotifications.js"></script>
    <script src="js/addContact.js"></script>
    <script src="js/removeContact.js"></script>
    <script src="js/removeRequestContactSent.js"></script>
    <script src="js/removeRequestContactReceived.js"></script>
    <script src="js/approveRequestContactReceived.js"></script>
    <script src="js/findUsersContact.js"></script>
    <script src="js/readMoreContacts.js"></script>
    <script src="js/readMoreContactsSent.js"></script>
    <script src="js/readMoreContactsReceived.js"></script>

    <script src="js/readMoreNotif.js"></script>
    <script src="js/markNotifAsRead.js"></script>
    <script src="js/textAndEmojiChat.js"></script>
    <script src="js/calculateNumberMessageGroup.js"></script>
    <script src="js/typingOnOff.js"></script>
    <script src="js/imageChat.js"></script>
    <script src="js/attachmentChat.js"></script>
    <script src="js/videoChat.js"></script>
    <script src="js/userOnlineOffline.js"></script>

    <script src="js/groupChat.js"></script>
    <script src="js/readMoreAllChat.js"></script>
    <script src="js/readMoreMessages.js"></script>

    <%- include('contact/contactModal'); %>
    

    <%- include('streaming/streamingModal'); %>
       

    <%- include('image/imageModal'); %>
    
    
    <%- include('attachment/attachmentModal'); %>
   
        
    <%- include('user/userModal'); %>
    

    <%- include('groupChat/groupChatModal'); %>    


    <%- include('notification/notificationModal'); %> 


    <%- include("groupMember/groupMembersModal"); %>
</body>
</html>
